<div class="row pl-3 mt-3 mb-4">
  <div class="col-xl-3 col-lg-6 col-sm-12 col-md-6 mt-xl-0">
    <div class="card" id="create-id">
      <img class="card-img-top" src="../../assets/images/create.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Create</h5>
        <p class="card-text">CREATE procedures: Performs the INSERT statement to create a new record.</p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-12 col-md-6 mt-xl-0">
    <div class="card" id="read-id">
      <img class="card-img-top" src="../../assets/images/read.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Read</h5>
        <p class="card-text">READ procedures: Reads the table records based on the primary keynoted within the input parameter.</p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-12 col-md-6 mt-md-3 mt-xl-0 mt-sm-3">
    <div class="card" id="update-id">
      <img class="card-img-top" src="../../assets/images/update.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Update</h5>
        <p class="card-text">UPDATE procedures: Executes an UPDATE statement on the table based on the specified primary key for a record within the WHERE clause of the statement.</p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-sm-12 col-md-6 mt-md-3 mt-xl-0 mt-sm-3">
    <div class="card" id="delete-id">
      <img class="card-img-top" src="../../assets/images/delete.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Delete</h5>
        <p class="card-text">DELETE procedures: Deletes a specified row in the WHERE clause.</p>
      </div>
    </div>
  </div>
</div>
