.card-text {
  font-size: 70%;
}

.card-title {
  font-size: 90%;
}

.card-img-top {
  height: 50%;
  width: 100%;
}

@keyframes in  {from{opacity: 0}to {opacity: 1}}
@keyframes out {from{opacity: 1}to {opacity: 0}}

.card {
  width: 18rem !important;
  height: 16rem !important;
  opacity: 0;
  animation: in 3s ease forwards 1
}

#create-id {animation-delay: .5s}
#read-id {animation-delay: 1s}
#update-id {animation-delay: 1.5s}
#delete-id {animation-delay: 2s}

.card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

