<div class="container-fluid d-none d-lg-block d-print-block border-top" id="footer-id">
  <div class="row justify-content-center pt-2">
    <h6 class="text-footer" style="font-size: 18px">FOLLOW US ON:</h6>
  </div>
  <div class="row justify-content-center">
    <div class="col-1">
      <a href="https://www.facebook.com/UniSalento/" target="_blank" title="facebook - Unisalento" aria-label="facebook - Unisalento" tabindex="0">
        <fa name="facebook-square fa-lg"></fa>
      </a>
    </div>
    <div class="col-1">
      <a href="https://twitter.com/unisalento" target="_blank" title="twitter - Unisalento" aria-label="twitter - Unisalento" tabindex="0">
        <fa name="twitter-square fa-lg"></fa>
      </a>
    </div>
    <div class="col-1">
      <a href="https://www.youtube.com/user/UniSalento" target="_blank" title="youtube-play Unisalento" aria-label="youtube-play Unisalento" tabindex="0">
        <fa name="youtube fa-lg"></fa>
      </a>
    </div>
    <div class="col-1">
      <a href="https://www.instagram.com/unisalento.it/" target="_blank" title="instagram - Unisalento" aria-label="instagram - Unisalento" tabindex="0">
        <fa name="instagram fa-lg"></fa>
      </a>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-sm-2">
      <h6 class="text-footer">INFORMATION ABOUT:</h6>
      <ul>
        <li><a class="dropdown-item" [routerLink]="['/myself']"><p class="text-footer small">Myself</p></a></li>
        <li><a class="dropdown-item" [routerLink]="['/exam']"><p class="text-footer small">Exam</p></a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <h6 class="text-footer">INFORMATION FOR:</h6>
      <ul>
        <li><a class="dropdown-item" [routerLink]="['/users']"><p class="text-footer small">Users</p></a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <h6 class="text-footer">QUICK LINKS:</h6>
      <ul>
        <li><a class="dropdown-item" [routerLink]="['/example']"><p class="text-footer small">Example 1</p></a></li>
        <li><a class="dropdown-item" [routerLink]="['/example']"><p class="text-footer small">Example 2</p></a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <h6 class="text-footer">CONTACTS:</h6>
      <ul>
        <li><a class="dropdown-item" [routerLink]="['/generals']"><p class="text-footer small">Generals</p></a></li>
      </ul>
    </div>
  </div>
  <div class="row divisor" style="background:#2E2E2E; height:10px">
  </div>
  <div class="row mt-3 justify-content-center">
    <h6 class="small text-footer">Copryght @ Danilo Giovannico & Salvatore Corvaglia. All rights reserved.</h6>
  </div>
</div>
