.text-footer {
  color:rgb(17, 22, 22);
  text-align: left;
}

a.dropdown-item:hover {
  background-color:transparent !important;
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
}

.text-footer {
  margin-bottom: -1px;
  font-size: 14px;

}

.divisor {
  margin-top: -10px;
  margin-bottom: -10px;
}

#footer-id {
  background:#F5F4F4;
  z-index:-9999;
  bottom: 0;
  opacity: 0;
  animation-delay: 3s !important;
  animation: in 3s ease forwards 1;
}
