<div class="container-fluid" *ngIf="users.length>0; else empty_content">
  <div class="list-user-container" *ngFor="let user of users; index as i">
    <div class="row text-center">
      <div class="col-2">
        {{user['name']}}
      </div>
      <div class="col-2">
        {{user['lastname']}}
      </div>
      <div class="col-6">
        {{user['email']}}
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-outline-danger" (click)="deleteUser(user['iduser'])">Delete</button>
      </div>
    </div>
    <hr *ngIf="i !== (users.length - 1)">
  </div>
</div>
<ng-template #empty_content>
  <div class="row">
    <div class="col-12 ml-3">
      <h5>Sorry, there are no users, register one first.</h5>
    </div>
  </div>
</ng-template>

<div class="row mt-1 ml-4 mr-5 mb-3">
  <div class="col-12">
    <div class="alert-danger text-center">
      <b>{{mexError}}</b>
    </div>
  </div>
</div>

<div class="container-fluid control-command-deletion text-right" *ngIf="flagDeletion">
  <br>
  Are You Sure?&nbsp;
  <button type="button" class="btn btn-outline-primary" (click)="comeBack()">No</button>&nbsp;
  <button type="button" class="btn btn-outline-danger" (click)="confirmRemove()">Yes</button>
</div>
